{% set page_image = image_file(page_logo) %}
{% set page_content_file = page_file(content_page) %}
{% set language_page_content_file=language_file(page_content_file,CURRENT_LANGUAGE) %}
<table>
    <tr>
        <!--page-left-side-section-->
        <td class="left-side-container page-left-side-content">
            {% if page_leftside_section %}
            {% include LAYOUTS_FOLDER+version_file("_layout_page_leftside_section.html","","") %} <!--@include@ @layout@-->
            {% endif %}
        </td>

        <td>
            <div class="content-page">
                <table>
                    <!--1:page-top-image-->
                    <tr>
                        {% if page_top_image and page_top_image[1] %}
                        {% include LAYOUTS_FOLDER+version_file("_layout_page_image_top.html","","") %} <!--@include@ @layout@-->
                        {% endif %}
                    </tr>

                    <!--2:page-header:page-logo,title,buttons-->
                    <tr>
                        {% include LAYOUTS_FOLDER+version_file("_layout_page_header.html" %}
                    </tr>

                    <!--3:page-middle-image-->
                    <tr>
                        {% if page_middle_image and page_middle_image[1] %}
                        {% include LAYOUTS_FOLDER+version_file("_layout_page_image_middle.html","","") %} <!--@include@ @layout@-->
                        {% endif %}
                    </tr>

                    <!--4:page-content-->
                    <tr>
                        <td colspan="2">
                            <div class="content_page_content">
                                {% include [language_page_content_file, page_content_file] %}
                            </div>
                        </td>
                    </tr>

                    <!--5:page-bottom-image-->
                    <tr>
                        {% if page_bottom_image and page_bottom_image[1] %}
                        {% include LAYOUTS_FOLDER+version_file("_layout_page_image_bottom.html","","") %} <!--@include@ @layout@-->
                        {% endif %}
                    </tr>

                    <!--6:summary pages-->
                    <tr>
                        {% include LAYOUTS_FOLDER+version_file("_layout_page_summary_pages.html","","") %} <!--@include@ @layout@-->
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
