<hr />
<table>
    <tr>
        <td align="center">
            {% include LAYOUTS_FOLDER+version_file("_layout_footer_navigation_line.html",execution_mode,design_type,design_version_footer_navigationline) %} <!--@include@ @layout@-->
            <hr />
        </td>
    </tr>
    <tr>
        <td align="center">
            {% include LAYOUTS_FOLDER+version_file("_layout_footer_menu.html",execution_mode,design_type,design_version_footer_menu) %}
            <hr />
        </td>
    </tr>
    <tr>
        <td align="center">
            {% include LAYOUTS_FOLDER+version_file("_layout_footer_copywrite_line.html",execution_mode,design_type,design_version_footer_copywrite) %} <!--@include@ @layout@-->
            <hr />
        </td>
    </tr>
</table>
