<table class="design_table">
    <!--1:page header-->
    <tr>
        <td width="1%" class="page-image-cell">
            <!--page image id-->
            <img src={{page_image}} class="page-image_icon" />
        </td>
        <td width="100%">
            <table class="design_table">
                <tr>
                    <td>
                        <!--page title-->
                        <div class="p-2">
                            <h1 class="page_title">{{page_title}}</h1>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="xcontainer-cell-vertical-wide">
                        <!--page top button links-->
                        {% if next_page %}
                        <a href="{{url_for(next_page)}}" class="button_learnmore">learn more &raquo;</a>
                        {% endif %}
                        {% if previous_page %}
                        <a href="{{url_for(previous_page)}}" class="button_back">&laquo; previous</a>
                        {% endif %}

                        {% for pageLink in LinkPagesArray %}
                        {% if pageLink[0] %}
                        {% if pageLink[3]=='button' %}
                        <a href="{{url_for(pageLink[0])}}" class="button_back">{{pageLink[1]}}&raquo; </a>
                        {% else %}
                        <a href="{{url_for(pageLink[0])}}" class="">{{pageLink[1]}}&raquo; </a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>