{% set picture='philippos2.jpeg' %}
{% set nameandtitle='name and title' %}
{% set quote='We''ve used Rocket Lawyer for literally everything! From client contracts, to health & safety policies for our office, and everything in between, including our first office lease and shareholders agreements - Rocket Lawyer document creation is invaluable.' %}
{% set footer1='' %}
{% set footer2='' %}
<div class="rhs-panel">
    <h3>Experts On Call&#174;</h3>
    <h5>Subject matter Experts like Philippos are on-call to help you.</h5>
    <br />
    <img class="img-responsive" src="/assets/images/sign-in-on-call.jpg" />
    <h4><strong>Erricos L. | SSB </strong></h4>
    <h5>Ganimides Expert On Call&#174;</h5>
</div>
