<div>
    <nav class="navbar navbar-expand-md bg-light navbar-light" style="padding-top:0px;padding-bottom:0px">
        <!-- Brand -->
        <!-- Toggler/collapsibe Button -->
        <div class="">
            <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#footerNavBar" aria-controls="footerNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- FOOTER MENU  -->
        <div id="footerNavBar" class="collapse navbar-collapse justify-content-center">
            <!--1st LINE-->
            <div class="row justify-content-center">
                <div class="col-sm-12 justify-content-center">
                    <ul class="navbar-nav ml-auto font-weight-light justify-content-center">
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('privacy_policy')}}">Privacy Policy</a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('terms_and_conditions')}}">Terms and Conditions of Use</a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('cookies_policy')}}">Cookies Policy</a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="{{url_for('contact')}}">Contact Info</a></li>
                    </ul>
                </div>
                <!--BREAK LINE-->
                <div class="w-100 d-none d-md-block justify-content-center"></div>

                <!--2nd LINE-->
                <div class="col-sm-12 justify-content-center justify-content-center">
                    <ul class="navbar-nav ml-auto font-weight-light justify-content-center">
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="https://www.linkedin.com/company/ganimides-technologies-ltd."><img src="../../static/images/linkedin.png" alt="Linkedin" class="page_footer_menu_image" /></a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="https://www.linkedin.com/company/ganimides-technologies-ltd."><img src="../../static/images/facebook.png" alt="Facebook" class="page_footer_menu_image" /></a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="https://www.twitter.com/ganimides-technologies-ltd."><img src="../../static/images/twitter.png" alt="Twitter" class="page_footer_menu_image" /></a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="https://www.twitter.com/ganimides-technologies-ltd."><img src="../../static/images/instagram.gif" alt="Instagram" class="page_footer_menu_image" /></a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="https://www.twitter.com/ganimides-technologies-ltd."><img src="../../static/images/youtube.png" alt="YouTube" class="page_footer_menu_image" /></a></li>
                        <li class="nav-item"><a data-toggle="tooltip" title="search" data-placement="bottom" class="nav-link" href="https://www.twitter.com/ganimides-technologies-ltd."><img src="../../static/images/pinterest.png" alt="Pinterest" class="page_footer_menu_image" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>