<div class="d-flex">
    <div class="p-0">
        {% include [language_fullpathfile('messages_display_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_exceptfielderrors.html','COMPONENT')] %}
        <div class="p-0 left">
                <!-- form 1 upload image-->
                <div id="uploadfile">
                    <div class="">
                        <div class="subscriber_form">
                            {% include [language_fullpathfile('form_avatar_upload.html',CURRENT_LANGUAGE,'FORM'), fullpathfile('form_avatar_upload.html','FORM')] %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
