<table style="vertical-align:top;width:auto;border:0px dotted green">
    <tr>
        <td colspan="2" style="border-bottom:2px dotted gray">
            <strong>{{ WEBSITE_TITLE}}</strong>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top;width:auto;height:auto;border-bottom:2px dotted gray">
            <address class="address_cell">
                4, vasilis michelides str.<br />
                2015 dhasoupolis<br />
                Nicosia<br />
                Cyprus<br />
            </address>
        </td>
        <!--
    Share a map or location
    On your computer, open Google Maps.
    Go to the directions, map, or Street View image you want to share.
    On the top left, click Menu .
    Select Share or embed map. If you don't see this option, click Link to this map. ...
    Copy and paste the link wherever you want to share the map.
    -->
        <td rowspan="3" width="100%" style="vertical-align:middle;border-bottom:2px dotted gray">
            <div class="picture" style="border:0px dotted red;margin:3px">
                <a target="_blank" href="https://www.google.co.uk/maps/place/Ganimides+Technologies/@35.1412804,32.8131458,9z/data=!4m5!3m4!1s0x14de198e814af39b:0x9b3bb69135e96c60!8m2!3d35.1408505!4d33.3734969">
                    <img src="../../static/images/location_nicosia.png" height="250" width="300" alt="{{COMPANY_NAME}}" />
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top;border-bottom:2px dotted gray">
            <address class="address_cell">
                <strong>Telephone(s):</strong>{{COMPANY_PHONES}}
            </address>
        </td>
        <!--<abbr title="Phone">P:</abbr>00357.22311634-->
    </tr>
    <tr>
        <td style="vertical-align:top;border-bottom:2px dotted gray">
            <address class="address_cell">
                <strong>Contact:</strong><a class="email_link" href="mailto:{{CONTACT_EMAIL}}">{{CONTACT_EMAIL}}</a>
                <br /><strong>Support:</strong><a class="email_link" href="mailto:{{SUPPORT_EMAIL}}?subject=Request for Support">{{SUPPORT_EMAIL}}</a>
                <br /><strong>Inquiry:</strong><a class="email_link" href="mailto:{{INQUIRY_EMAIL}}?subject=Request for Iformation">{{INQUIRY_EMAIL}}</a>
                <br /><strong>Marketing:</strong><a class="email_link" href="mailto:{{COMPANY_CONTACT_EMAIL}}">{{COMPANY_CONTACT_EMAIL}}</a>
            </address>
        </td>
    </tr>
</table>