<div class="document_page_reading justify">
    <p style="text-align:left">
        <span class="text_last_revision">
            last revision: 12/10/2018
        </span>
    </p>
    <br />
    <p>
        <span class="text-emphasis-shadow-bold">Cookies</span> are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information.
        <br />We use Cookies for Improving our website for speed and better user experience.
        <br />Cookies are not used for:
        <br /> •	Any shopping carts
        <br /> •	passing any personal identifiable information to third parties.
        <br /> •	Pay sales commissions.
        <br />We do not currently set cookies. In the future, we may consider the use of cookies as a means of improving the user experience on <span class="text-emphasis-shadow-bold">{{domain_name}}</span> web site.
    </p>

    <h4>Changes to this policy</h4>
    <p>
        <span class="text-emphasis">{{COMPANY_NAME}}</span> will occasionally update this policy. When we do, we will also revise the <span class="text-note-italics">"last revision date"</span> at the beginning of this web page. Your continued use of this Site is contingent upon your agreement to be bound by any such revisions and you should therefore periodically visit this page to review the then-current Terms and Conditions.
    </p>

    <h4>Contact information:</h4>
    <p>
        Questions or comments regarding these terms and conditions are welcome and should be directed to the web site coordinator. (<a class="email_link" href="mailto:{{WEBSITE_ADMIN_EMAIL}}?subject=Cookies Policy">{{WEBSITE_ADMIN_EMAIL}}"</a>)
    </p>
</div>
