<div class="d-flex">
    <div class="p-0">
        {% include [language_fullpathfile('messages_display_exceptfielderrors.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('messages_display_exceptfielderrors.html','COMPONENT')] %}
        <div class="p-0 left">
            <div class="left p-0">
                <!-- form 1 confirm password_reset-->
                <div id="password_reset">
                    <div class="">
                        <div class="subscriber_form">
                            {% include [language_fullpathfile('form_password_reset.html',CURRENT_LANGUAGE,'FORM'), fullpathfile('form_password_reset.html','FORM')] %} <!--@include@ @parameterized@ @versioning@-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>