<div class="document_page_reading justify">
    <p style="text-align:left">
        <span class="text_last_revision">
            last revision: 12/10/2018
        </span>
    </p>
    <br />
    <p>
        The following are <span class="text-emphasis">terms of a legal agreement</span> between <span class="text-emphasis">You</span>(the "user") and <span class="text-emphasis-shadow-bold">{{COMPANY_NAME}}</span> ("Ganimides"). Your access to and use of this Site is subject to your compliance with all applicable laws and the following terms and conditions. By accessing and browsing this Site, you accept, without limitation or qualification, the Terms and Conditions herein. If you are using this Site on behalf of your employer, you represent that you are authorized to accept these terms and conditions on your employer's behalf. This Agreement shall automatically terminate upon failure by you to comply with its terms.
        <br />Please read these non-negotiable terms of use carefully before using the website. By continuing to use the website, You agree to be bound by these terms of use.
        <br />If you purchase any products or services from Ganimides ("Services"), the terms of use for those Services will be set forth in a separate sales contract between you and Ganimides. These TERMS OF USE will not in any way change or limit your rights and obligations under your Ganimides sales contract.
        <br />If you have not yet purchased Services from Ganimides or are not already a Ganimides Client, we encourage you to <a href="{{url_for('home.contact_form')}}" class="button_contactus_intext">Contact Us &raquo;</a> to learn more about the benefits and value that Ganimides can provide.
        <br />This site may contain inaccuracies or typographical errors. To the maximum extent permitted by applicable law, this site is provided "as is" without any warranty of any kind, whether express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, non-infringement, or arising from a course of dealing, usage, or trade practice.
        <br />Ganimides may at any time revise these Terms and Conditions by updating this web page. Your continued use of this Site is contingent upon your agreement to be bound by any such revisions and you should therefore periodically visit this page to review the then-current Terms and Conditions.
    </p>
    <h4>Changes to this policy:</h4>
    <p>
        We will occasionally update this terms and conditions of use statement. When we do, we will also revise the <span class="text-note-italics">"last revision date"</span> at the beginning of this web page.
    </p>

    <h4>Website Content and Copyright:</h4>
    <p>
        This Website is the property of Ganimides and is protected by European and international copyright law and conventions. Ganimides grants to any User the right to access and use the Website, so long as such use is for internal information purposes, and User does not alter, copy, disseminate, redistribute or republish any content or feature of this Website. User acknowledges that access to and use of this Website is subject to these TERMS OF USE and any expanded access or use must be approved in writing by Ganimides.
    </p>

    <h4>Changes or Updates to the Website:</h4>
    <p>
        Ganimides reserves the right to change, update or discontinue any aspect of this Website at any time without notice. Your continued use of the Website after any such change constitutes your agreement to these TERMS OF USE, as modified.
    </p>

    <h4>Disclaimer of Warranties:</h4>
    <p>
        Ganimides does not make any warranties, express or implied, including, without limitation, those of merchantability and fitness for a particular purpose, with respect to this Website. Although Ganimides takes reasonable steps to screen this Website for infection by viruses, worms, Trojan horses or other code manifesting contaminating or destructive properties, Ganimides cannot guarantee that it will be free of infection or that it will be available at any particular time or location.
    </p>

    <h4>Accuracy of Information:</h4>
    <p>
        While the information contained on this Website has been obtained from sources believed to be reliable, Ganimides disclaims all warranties as to the accuracy, completeness or adequacy of such information. User assumes sole responsibility for the use it makes of this Website to achieve his/her intended results.
    </p>

    <h4>Third-Party Links:</h4>
    <p>
        This Website may contain links to other third-party websites, which are provided as additional resources for the convenience of Users. Ganimides does not endorse, sponsor or accept any responsibility for these third-party websites, User agrees to direct any concerns relating to these third-party websites to the relevant website administrator.
    </p>

    <h4>Limitation of Liability:</h4>
    <p>
        In no event will Ganimides be liable for: (a) damages of any kind, including without limitation, direct, incidental or consequential damages (including, but not limited to, damages for lost profits Limitation of Liability: business interruption and loss of programs or information) arising out of the use of or inability to use this Website, or any information provided on this Website, or (b) any claim attributable to errors, omissions or other inaccuracies in the information provided on this Website.
    </p>

    <h4>Termination:</h4>
    <p>
        In accessing and using this Website, User agrees to comply with all applicable laws and agrees not to take any action that would compromise the security or viability of this Website. Ganimides may terminate User's access to this Website at any time for any reason. The terms hereunder regarding Disclaimer of Warranty, Accuracy of Information, Indemnification, and Third Party Rights shall survive termination.
    </p>

    <h4>Indemnification:</h4>
    <p>
        User agrees to indemnify, defend and hold harmless Ganimides, its affiliates, licensors, and their respective officers, directors, employees and agents from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, arising out of User's use/ misuse of this Website.
    </p>

    <h4>Third-Party Rights:</h4>
    <p>
        The terms hereunder regarding Disclaimer of Warranty, Limitation of Liability and Indemnification are for the benefit of Ganimides, and its licensors, employees and agents, each of whom shall have the right to assert and enforce those terms against a User.
    </p>

    <h4>General Provisions:</h4>
    <p>
        Any provision in any written communication received by Ganimides in connection with this Website which is inconsistent with, or adds to, these TERMS OF USE is void. If any term hereunder is determined by a court of competent jurisdiction to be invalid, all remaining terms will remain in full force and effect
        Governing Law:
        These TERMS OF USE and the resolution of any dispute arising hereunder shall all be governed and construed in accordance with the laws of the state of Connecticut, without regard to its conflicts of law principles. User consents to the jurisdiction of the courts of the state of Connecticut.
    </p>

    <h4>Privacy Statement:</h4>
    <p>
        User's right to privacy is of paramount importance to Ganimides. When you register to use our Website, Ganimides will ask you to provide your name, organization, email address, and other related information. Ganimides will use this information to provide you with a more personalized
        online experience and, where applicable, to process orders, as well as to keep track of what topics are of interest to our Users. Ganimides will not share this information with any third party
    </p>

    <h4>Restriction on Use:</h4>
    <p>
        User will not (i) violate the security of the Site nor attempt to gain unauthorized access to the Site, data, materials, information, computer systems or networks connected to any server associated with the Site, through hacking, password timing or any other means; (ii) take nor attempt any action that, in the sole discretion of Ganimides, imposes or may impose an unreasonable or disproportionately large burden on the Site or its infrastructure; (iii) use nor attempt to use any "scraper," "robot," "bot," "spider," "data mining," "computer code," or any other automated device, program, tool, algorithm, process or methodology to access, acquire, copy, or monitor any portion of the Site, any data or content found on or accessed through the Site without the prior written consent of Ganimides; (iv) forge headers or otherwise manipulate identifiers in order to disguise the origin of any other content.
    </p>

    <h4>Contact information:</h4>
    <p>
        Questions or comments regarding these terms and conditions are welcome and should be directed to the web site coordinator. (<a class="email_link" href="mailto:{{WEBSITE_ADMIN_EMAIL}}?subject=Terms and Conditions of Use">{{WEBSITE_ADMIN_EMAIL}}</a>)
    </p>
    <h4>Copyright:</h4>
    <p>
        &copy; {{COPYWRITE_YEAR}} - {{COMPANY_NAME}}&nbsp;&nbsp;&nbsp;All Rights Reserved.
    </p>
</div>