<div style="padding:20px">
    {% include [language_fullpathfile('secure_info_general.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('secure_info_general.html','COMPONENT')] %}
    <div class="clearfix"></div>
    <!--form is not validated locally on the browser (novalidate option) in order to use the forget password button-->
    <form id="formLogin" action="{{ url_for('home.login') }}" method="post" role="form" autocomplete="on" class="subscriber_form" novalidate>
        <fieldset>
            {{ login_form.hidden_tag() }}
            <div class="form-group d-flex flex-column">
                {{ login_form.email.label }}
                {{ login_form.email(size=32) }}
                {% for error in login_form.email.errors %}
                <span class="text-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group d-flex flex-column">
                {{ login_form.password.label }}
                {{ login_form.password(size=32) }}
                {% for error in login_form.password.errors %}
                <span class="text-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group form-check p-0 d-flex align-items-center h-100">
                {{ login_form.rememberMe}}&nbsp;<label class="text-note" for="rememberMe">Remember Me</label>
            </div>
            {% for error in login_form.rememberMe.errors %}
            <span class="text-note" style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <!---
            <div class="form-group form-check p-0 d-flex align-items-center h-100">
                {% include [language_fullpathfile('secure_info_recaptcha_checkbox.html',CURRENT_LANGUAGE,'COMPONENT'), fullpathfile('secure_info_recaptcha_checkbox.html','COMPONENT')] %}
            </div>
            -->
            <div class="form-group form-check p-0 d-flex align-items-center h-100">
                {{ login_form.recaptcha }}
                {% for error in login_form.recaptcha.errors %}
                <span class="text-note" style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group d-flex justify-content-between p-0 m-0">
                <div>
                    {{login_form.submit(class='button_simple_small')}}
                </div>
                <div>
                    <input class="button_simple_small" type="submit" formaction="{{url_for('home.forgetpassword')}}" value='Forgot your password?'>
                </div>
            </div>

            <!-- separator line -->
            <div class="border border-warning" style="width:100%;text-align:center;display:block;margin:10px auto;"></div>

            <!-- login with buttons (facebook etc) -->
            <div class="signUpCenter">
                <a id="fbLoginLink" onclick="facebookLogin(); return false;" class="fb-btn-img"><img class="facebook-login-image" src="../../static/images/facebook-login.png" alt="connect with facebook" title="connect with facebook"></a>
                <br>
                <em class="text-note">We will never post to your account without permission.</em>
            </div>
        </fieldset>
    </form>
</div>
