<div style="padding:20px">
    <div class="clearfix"></div>
    <!-- picture avatar -->
    <div class="d-flex justify-content-between p-0 m-0">
        {% if current_user.avatarImageFile %}
        {% set avatarImageFile=current_user.avatarImageFile %}
        {% else %}
        {% set avatarImageFile='../../static/images/icon_avatar_default.png' %}
        {% endif %}
        <img class="rounded-circle mx-auto d-block avatar_image border border-dark" alt="" src='{{avatarImageFile}}'>
    </div>
    <div class="form-group d-flex flex-column p-0 m-0">
        <div class="button-black pl-2" style="text-align:center;">
            <a href="{{ url_for('home.upload_avatar') }}" class="button_simple_small">Change</a>
        </div>
    </div>

    <form id="formUserProfileDisplay" role="form" autocomplete="on" class="subscriber_form">
        <fieldset>
            {{userprofiledisplay_form.hidden_tag()}}
            <div class="form-group d-flex flex-column readonly_form_field p-0 m-0">
                {{ userprofiledisplay_form.firstName.label }}
                {{ userprofiledisplay_form.firstName(size=32,readonly=true) }}
            </div>
            <div class="form-group d-flex flex-column readonly_form_field p-0 m-0">
                {{ userprofiledisplay_form.lastName.label }}
                {{ userprofiledisplay_form.lastName(size=32,readonly=true) }}
            </div>
            <div class="form-group d-flex flex-column readonly_form_field p-0 m-0">
                {{ userprofiledisplay_form.jobTitle.label }}
                {{ userprofiledisplay_form.jobTitle(size=32,readonly=true) }}
            </div>
            <div class="form-group d-flex flex-column readonly_form_field p-0 m-0">
                {{ userprofiledisplay_form.company.label }}
                {{ userprofiledisplay_form.company(size=32,readonly=true) }}
            </div>
            <div class="form-group d-flex flex-column readonly_form_field p-0 m-0">
                {{ userprofiledisplay_form.userName.label }}
                {{ userprofiledisplay_form.userName(size=32,readonly=true) }}
            </div>

            <div class="form-group d-flex flex-column readonly_form_field p-0 m-0">
                <div>
                    {{ userprofiledisplay_form.email.label }}
                </div>
                <div class="d-flex">
                    <div>
                        {{ userprofiledisplay_form.email(size=32,readonly=true) }}
                    </div>
                    <!--
                    {% if not(emailconfirmed) %}
                    <div class="button-black pl-2">
                        <a href="x{ url_for('home.emailconfirmrequest') }}" class="button_simple_small">Confirm</a>
                    </div>
                    {% endif %}
                    -->
                </div>
            </div>

            <div class="form-group d-flex flex-column readonly_form_field p-0 m-0">
                <div>
                    {{ userprofiledisplay_form.mobile.label }}
                </div>
                <div class="d-flex">
                    <div>
                        {{ userprofiledisplay_form.mobile(size=32,readonly=true) }}
                    </div>
                    {% if not(mobileconfirmed) %}
                    <div class="button-black pl-2">
                        <a href="{{ url_for('home.mobileconfirm') }}" class="button_simple_small" style="color:red;">Confirm</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- separator line -->
            <div class="border border-warning" style="width:100%;text-align:center;display:block;margin:10px auto;"></div>
            <!-- more fields -->
            <div class="d-flex justify-content-between p-0 m-0 readonly_form_field">
                <table>
                    <tr>
                        <td>
                            {{ userprofiledisplay_form.termsAgreed.label }}:
                        </td>
                        <td>
                            {{ userprofiledisplay_form.termsAgreed() }}
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            {{ userprofiledisplay_form.mailingListSignUp.label }}:
                        </td>
                        <td>
                            {{ userprofiledisplay_form.mailingListSignUp() }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ userprofiledisplay_form.emailConfirmed.label }}:
                        </td>
                        <td>
                            {{ userprofiledisplay_form.emailConfirmed() }}
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            {{ userprofiledisplay_form.mobileConfirmed.label }}:
                        </td>
                        <td>
                            {{ userprofiledisplay_form.mobileConfirmed() }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ userprofiledisplay_form.registered.label }}:
                        </td>
                        <td>
                            {{ userprofiledisplay_form.registered() }}
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            {{ userprofiledisplay_form.lastLogin.label }}:
                        </td>
                        <td>
                            {{ userprofiledisplay_form.lastLogin() }}
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </form>
</div>
