{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
<div class="xcontent-section" width="auto" style="background-color:white;">
    <h4>Contact form</h4>
    <hr />
    <div class="left" style="margin:10px">
        <!--xxwtf.quick_form(form) }}-->
        <!--<form action="" method="post" novalidate>-->
        <form action="" method="post">
            <fieldset>
                {{ form.hidden_tag() }}
                <table>
                    <tr>
                        <td style="vertical-align:top;padding-left:10px;padding-right:10px;width:10%;height:auto;border:0px dotted red;">
                            {{ form.firstName.label }}<br />
                            {{ form.firstName(size=32) }}<br />
                            {{ form.lastName.label }}<br />
                            {{ form.lastName(size=32) }}<br />
                            {{ form.company_name.label }}<br />
                            {{ form.company_name(size=32) }}<br />
                            {{ form.email.label }}<br />
                            {{ form.email(size=32) }}<br />
                        </td>
                        <td style="vertical-align:top;padding-left:10px;padding-right:10px;width:auto;height:auto;border:0px dotted blue">
                            {{ form.contact_message.label }}<br>
                            {{ form.contact_message(rows="9", cols="60") }}

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>{{ form.rememberMe() }} {{ form.rememberMe.label }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>{{ form.submit() }}</p>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li<{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {{ utils.flashed_messages() }}
</div>