{% extends "home_page_layout.html" %}

{% set page_title = "Prototypes and Proof of Concepts(POC)" %}
{% set page_logo = "prototypes.png" %}
{% set next_page = "about" %}
{% set previous_page = "services" %}
{% set content_page="prototypes_page_content.html" %}
{% set SummaryPagesArray = [
     ["prototype_summary_open_bank.html", "prototype_summary_gaming.html", ""]
    ] %}

{% block content %}
{% include LAYOUTS_FOLDER+version_file("_layout_page_content.html",execution_mode,design_type,design_version) %} <!--@include@ @layout@-->
{% endblock %}