{% extends "home_page_layout.html" %}

{% set page_title = "Terms and Conditions of use" %}
{% set page_logo = "policy.png" %}
{% set next_page = "about" %}
{% set previous_page = "cookies_policy" %}
{% set content_page="terms_and_conditions_page_content.html" %}
{% set link_page1 = ["privacy_policy","privacy policy","privacy policy","link/button"] %}
{% set link_page2 = ["cookies_policy","cookies policy","cookies policy","link/button"] %}

{% block content %}
{% include LAYOUTS_FOLDER+version_file("_layout_page_content.html",execution_mode,design_type,design_version) %} <!--@include@ @layout@-->
{% endblock %}